\documentclass[12pt,a4paper]{article}
\usepackage[utf8]{inputenc}
\usepackage{fontspec}
\usepackage{geometry}
\geometry{a4paper, margin=1in}

\setmainfont{Noto Serif CJK SC}

\begin{document}
\thispagestyle{empty}
\vspace*{15cm}
\begin{center}
    {\large 版权所有 \textcopyright\ \the\year\ {{ authors | join(', ') }}} \par
    \vspace{0.5cm}
    {\small 采用 MkDocs Exporter 构建}
\end{center}
\newpage
\end{document}
