\documentclass[12pt,a4paper]{article}
\usepackage{fontspec}
\usepackage{geometry}
\usepackage{xcolor}
\geometry{a4paper, margin=1.5in}

\setmainfont{Noto Serif CJK SC}
\definecolor{graycolor}{RGB}{120, 120, 120}

\begin{document}
\thispagestyle{empty}
\vspace*{3cm}
\begin{center}
    {\Huge \bfseries {{ title }}} \par
    \vspace{0.8cm}
    {\huge \itshape \color{graycolor} {{ subtitle }}} \par
    \vspace{3cm}
    {\large 作者：{{ authors | join(', ') }}} \par
    
    \vfill
    
    \begin{minipage}{0.8\textwidth}
        \centering
        {\Large \textbf{丛书简介}} \par \vspace{1cm}
        {\large \setlength{\parindent}{2em}
        {% for line in info.abstract %}
            {{ line }} \par \vspace{0.4cm}
        {% endfor %}
        }
    \end{minipage}
    
    \vfill
    
    {\large {{ info.publishing }}} \par
    \vspace{0.5cm}
    {\large {{ info.date or "\today" }}}
\end{center}
\newpage
\end{document}
