\documentclass[12pt,a4paper]{article}
\usepackage{fontspec}
\usepackage{geometry}
\usepackage{xcolor}
\geometry{a4paper, margin=1.5in}

\setmainfont{Noto Serif CJK SC}
\definecolor{graycolor}{RGB}{120, 120, 120}

\begin{document}
\thispagestyle{empty}
\vspace*{2cm}

\begin{center}
    {\Large \textbf{从书简介}} \par \vspace{1.5cm}
\end{center}

{\large 
{% for line in info.abstract %}
    {{ line }} \par \vspace{0.6cm}
{% endfor %}
}

\vfill

\begin{center}
    {\large {{ info.publishing }}}
\end{center}
\vspace*{0.5cm} % 留出底边距，对齐封面的日期高度

\newpage
\end{document}
