\documentclass[12pt,a4paper]{article}
\usepackage[utf8]{inputenc}
\usepackage{fontspec}
\usepackage{geometry}
\geometry{a4paper, margin=1in}

\setmainfont{Noto Sans CJK SC}

\begin{document}
\vspace*{10cm}
\begin{flushright}
    {\Huge \bfseries 第 {{ chapter_num }} 章} \par
    \vspace{1cm}
    {\LARGE {{ chapter_title }}}
\end{flushright}
\newpage
\end{document}
