\documentclass[12pt,a4paper]{article}
\usepackage{fontspec}
\usepackage{geometry}
\usepackage{xcolor}
\geometry{a4paper, margin=1in}

\setmainfont{Noto Serif CJK SC}
\definecolor{maincolor}{RGB}{45, 52, 54}

\begin{document}
\thispagestyle{empty}
\begin{center}
    {\Huge \bfseries \color{maincolor} 目录} \par
    \vspace{1.5cm}
\end{center}

\begin{description}
{% for section in toc_outline %}
    \item[\large {{ loop.index }}. {{ section.title }}] \dotfill {{ section.page }}
    {% if section.children %}
    \begin{itemize}
        {% for child in section.children %}
            \item {{ child.title }} \dotfill {{ child.page }}
        {% endfor %}
    \end{itemize}
    {% endif %}
    \vspace{0.3cm}
{% endfor %}
\end{description}

\newpage
\end{document}
