pyyaml
requests
pillow
cairosvg

mkdocs
pymdown-extensions
mkdocs-open-in-new-tab

mkdocs-document-dates
mkdocs-task-collector

mkdocs-rss-plugin
mkdocs-minify-html-plugin
mkdocs-redirects

mkdocs-glightbox
mkdocs-table-reader-plugin
mkdocs-termage-plugin
mkdocs-jupyter
markdown-exec[ansi]
