pyyaml
requests
pillow
cairosvg

mkdocs
pymdown-extensions
mkdocs-katex-ssr

mkdocs-document-dates
mkdocs-rss-plugin
mkdocs-minify-html-plugin
mkdocs-redirects

mkdocs-glightbox
mkdocs-table-reader-plugin
mkdocs-jupyter
markdown-exec[ansi]
