pyyaml
requests
pillow
cairosvg

mkdocs
pymdown-extensions
mkdocs-rss-plugin
mkdocs-katex-ssr
mkdocs-advanced-seo

# mkdocs-document-dates
git+https://github.com/raineblog/mkdocs-document-dates.git
# 自己的重构版，输出不是 isoformat 了

mkdocs-minify-html-plugin

mkdocs-glightbox
mkdocs-table-reader-plugin
mkdocs-jupyter
markdown-exec[ansi]

git+https://github.com/raineblog/mkdocs-material.git
