.git
.github
*.log
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.vscode
.idea
.DS_Store
site/
public/
# requirements.txt  <-- Needed for build
# Dockerfile       <-- Usually good to keep or ignored by default
# README.md        <-- Optional but good to keep
# etc.

.git
.idea
.vscode
__pycache__
*.pyc
node_modules
dist
test_data
Dockerfile
README.md
.github
.venv
venv
.env

/usr/share/doc/*
/usr/share/man/*
/usr/share/groff/*
/usr/share/info/*
/usr/share/lintian/*
/usr/share/linda/*
/usr/share/locale/*
/usr/share/omf/*/*-*.emf