name: Docker Image Build and Publish

on:
  schedule:
    - cron: '0 0 1 * *'
  push:
    branches: [ "main" ]
    tags: [ 'v*' ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:

  test:
    name: Test with raineblog/whk
    runs-on: ubuntu-latest
    steps:
      - name: Checkout mkdocs-docker
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Image Locally
        uses: docker/build-push-action@v6
        with:
          context: .
          load: true
          tags: mkdocs-docker:test

      - name: Checkout whk
        uses: actions/checkout@v6
        with:
          repository: raineblog/whk
          path: whk
          submodules: "true"
          fetch-depth: 0
          fetch-tags: false

      - name: Cache
        uses: actions/cache@v5
        with:
          path: whk/.cache
          key: ${{ runner.os }}-mkdocs-${{ github.run_id }}-${{ github.run_attempt }}
          restore-keys: |
            ${{ runner.os }}-mkdocs-

      - name: Build Static Site
        run: |
          docker run --rm \
            -v ${{ github.workspace }}/whk:/whk \
            -w /whk \
            mkdocs-docker:test \
            /bin/sh -c "git config --global --add safe.directory /whk && mkdocs-build"

  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write
      artifact-metadata: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract Docker Image Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=ref,event=tag
      - name: Build and Push Docker Image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          # cache-from: type=gha
          # cache-to: type=gha,mode=max
      - name: Generate Build Attestation (SLSA)
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: false
