.git
.idea
.vscode
__pycache__
*.pyc
node_modules
dist
test_data
Dockerfile
README.md
.github
.venv
venv
.env

/usr/share/doc/*
/usr/share/man/*
/usr/share/groff/*
/usr/share/info/*
/usr/share/lintian/*
/usr/share/linda/*
/usr/share/locale/*
/usr/share/omf/*/*-*.emf